<div class="container">

<canvas id="chart" width="500" height="300"></canvas>
  <script>

    d3.csv('https://ngoldovsky.s3.amazonaws.com/jsvizdata.csv').then(makeChart);

    function makeChart(players) {
    var playerLabels = players.map(function(d) {return d.Name});
    var weeksData = players.map(function(d) {return d.JPNASSETS});

    var chart = new Chart('chart', {
      type: 'horizontalBar',
      data: {
        labels: playerLabels,
        datasets: [
          {
            data: weeksData
          }
        ]
      }
    });
  }
  </script>

</div>
