<div class="container">
  <center>
    <h1>"{{ site.data.index.bar.title }}"</h1>
  </center>
  <center>
    <canvas id="bar-chart-2" width="500" height="300"></canvas>
    <script>
      new Chart(document.getElementById("bar-chart-2"), {
      type: 'bar',
      data: {
        labels: "{{ site.data.index.bar.labels }}".split(","),
        datasets: [
          {
            label: "Stock Market Capitalization to GDP for United States",
            backgroundColor: "#3e95cd",
            data: "{{site.data.index.bar.values }}".split(",")

          }
        ]
      },
      options: {
        responsive: false,
        maintainAspectRatio: false,
        legend: { display: false },
        title: {
          display: true,
          text: 'Stock Market Capitalization to GDP for United States'
        }
      }
  });


    </script>
  </center>
</div>
